
mixin void_points_block
  div.void-points-block
    div.void-points-left
      div.stat-block
        label(data-i18n='void_points')=locals['void_points']
      +void_points_radios
    div.void-points-right
      div.void-points-text-top(data-i18n='use_void_point')=locals['use_void_point']
      div.void-points-text-bottom
        ul
          li(data-i18n='void_point_use_1')=locals['void_point_use_1']
          li(data-i18n='void_point_use_2')=locals['void_point_use_2']

mixin void_points_radios
  div.void-points-radios
    - var vp = 0;
    div.void-points
      - var max_vp = 4
      while vp <= max_vp
        label
          input(
            type='radio'
            name='attr_void_points'
            value=vp)
          span=vp
        - vp++;
