include ..\..\data\bloodlines

mixin bloodline_basics
  div.bloodline-basics
    div.bloodline-info
      div.bloodline-name
        label.blood-name(data-i18n='bloodline_name')=locals['bloodline_name']
        input(
          type='text'
          name='attr_character_name')
      div.bloodline-select
        label.blood-select(data-i18n='playbook')=locals['playbook']
        select.playbook-select(name='attr_bloodline_select')
          option(value='bnull')=locals['choose_bloodline']
          each line in bloodlines_list
            option(value=line)=locals[line]
      div.bloodline-style
        label(data-i18n='style')=locals['style']
        input(
          type='text'
          name='attr_style')
      div.bloodline-lore
        label(data-i18n='lore')=locals['lore']
        input(
          type='text'
          name='attr_lore')
