- var origins = ['void', 'pork', 'solopod', 'chrome', 'human', 'velocity-cursed']

mixin origin_block
  div.origin-row
    div.origin-label(data-i18n='origin')=locals['origin']
    div.origin-radios
      each orig in origins
        div.origin-check
          label
            input(
              type='radio'
              name='attr_origin'
              value=orig)
            div.origin-square
            div.origin-name(data-i18n=orig)=locals[orig]
