
mixin encounter_block
  //- div.encounter-labels
  //-   div.encounter-block
  //-     div.encounter-success-defeat.left
  //-     div.encounter-date.left
  //-       div(data-i18n='encounter_date')=locals['encounter_date']
  //-     div.encounter-taken-recovered.left
  //-       div(data-i18n='taken_or_recovered')=locals['taken_or_recovered']
  //-     div.encounter-details.left
  //-       div(data-i18n='encounter_details')=locals['encounter_details']
  //-     div.middle
  //-     div.encounter-details.right
  //-       div(data-i18n='encounter_details')=locals['encounter_details']
  //-     div.encounter-taken-recovered.right
  //-       div(data-i18n='taken_or_recovered')=locals['taken_or_recovered']
  //-     div.encounter-date.right
  //-       div(data-i18n='encounter_date')=locals['encounter_date']
  //-     div.encounter-success-defeat.right

  fieldset.repeating_encounters
    +encounter_entry

mixin encounter_entry
  div.encounter-block
      div.encounter-success-defeat.left
        input(
          type='radio'
          name='attr_encounter_victor'
          value='left')
      div.encounter-date.left
        +stat_no_label('text', 'left_encounter_date', 'encounter_date')
      div.encounter-taken-recovered.left
        +stat_no_label('text', 'left_taken_or_recovered', 'taken_or_recovered')
      div.encounter-details.left
        +stat_no_label('text', 'left_encounter_details', 'encounter_details')
      div.middle
      div.encounter-details.right
        +stat_no_label('text', 'right_encounter_details', 'encounter_details')
      div.encounter-taken-recovered.right
        +stat_no_label('text', 'right_taken_or_recovered', 'taken_or_recovered')
      div.encounter-date.right
        +stat_no_label('text', 'right_encounter_date', 'encounter_date')
      div.encounter-success-defeat.right
        input(
          type='radio'
          name='attr_encounter_victor'
          value='right')
