
mixin header
  div.rivals-header
    div.rival.rival-left
      div.rival-stat
        label(data-i18n='side')=locals['side']
        input(
          type=inp,
          class='stat-input'
          name='attr_left_side'
          readonly
          spellcheck='false')
      div.rival-stat
        label(data-i18n='name')=locals['name']
        input(
          type=inp,
          class='stat-input'
          name='attr_left_name'
          readonly
          spellcheck='false')
      div.rival-stat
        label(data-i18n='pronouns')=locals['pronouns']
        input(
          type=inp,
          class='stat-input'
          name='attr_left_pronouns'
          readonly
          spellcheck='false')
    div.logo
    div.rival.rival-right
      div.rival-stat
        input(
          type=inp,
          class='stat-input'
          name='attr_right_side'
          readonly
          spellcheck='false')
        label(data-i18n='side')=locals['side']
      div.rival-stat
        input(
          type=inp,
          class='stat-input'
          name='attr_right_name'
          readonly
          spellcheck='false')
        label(data-i18n='name')=locals['name']
      div.rival-stat
        input(
          type=inp,
          class='stat-input'
          name='attr_right_pronouns'
          readonly
          spellcheck='false')
        label(data-i18n='pronouns')=locals['pronouns']
