include ../../data/power_source

mixin systems_row
  div.systems-row
    +current_max_block('condition')
    +current_max_block('fuel')
    +power_source_block
    +output_power_block

mixin power_source_block
  div.power-source-block
    div.stat-block.power-source-text(data-i18n='power_source')=locals['power_source']
    div.stat-block.power-source-radios
      each state in powerSourceRadios
        label
          input(
            type='radio'
            class='stat-input'
            name='attr_power_source'
            value=state)
          div.power-source-state(data-i18n=state)=locals[state]

mixin output_power_block
  p
